<div class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Categories
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
 
<h1 class="text-center" style="color: white;">Poetry Soul</h1>
<br>

    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-9 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar thumbnail">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Trending Poems
        </h4>
        <div id="group-1" class="list-group collapse in">
         <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span>Talking to my Soul
          </a>
         <% end %>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Recently Added
        </h4>
        <div id="group-2" class="list-group collapse in">
          <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span> Talking to my Soul
          </a>
         <% end %>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Favorites
        </h4>
        <div id="group-3" class="list-group collapse in">
          <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span> Talking to my Soul
          </a>
         <% end %>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-4">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Categories
        </h4>
        <div id="group-4" class="list-group collapse in">
          <% 1.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">31k</span>Love
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">45M</span>Education
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">54k</span>Woman
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">454k</span>Crush
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">97k</span>Imagination
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">33k</span>Imagination
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">45k</span>Other
          </a>
         <% end %>
        </div>
      </div>

    </div>

    <!-- table container -->
    <div class="col-md-8">
    <% 10.times do || %>  
      <div class="col-md-12 main-box">
        <div class="col-md-3">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/90/54/b8/9054b80d87e3e88eaf96db08d45664c8--african-portrait-photography-profile-photography.jpg" class="index-image">
        </div>
        <div class="col-md-9">
          <a href="#" style="color: #2f5369"><strong>Katy Chrisie</strong></a> : <a href=""> Talking to Myself</a>
          <hr>
          <div class="col-md-12 poem-body">
            <p>I've planted a tree in my heart!
              Whenever I feel tired,
              rushing,
              I sit down,
              with my back against the trunk
              I look at the sky
              through the foliage of the tree
              and peace comes back
              to my heart.<i style="color: blue;">| Read more</i></p>
            </div>

            <div class="text-center">
              <div class="btn-group">
                <a href="" class="btn btn-primary react-buttons">Like</a>
                <a href="" class="btn btn-primary react-buttons">Comment</a>
                <!-- Trigger modal a button -->
                <a type="button" class="btn btn-primary react-buttons" data-toggle="modal" data-target="#Modal">Listen</a>

                <!-- Modal -->
                <div id="Modal" class="modal fade" role="dialog">
                  <div class="modal-dialog video-box">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                      </div>
                      <div class="modal-body">
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/XFQ_rccI2yg" frameborder="0" allowfullscreen></iframe> -->
                      </div>
                    </div>
                  </div>
                </div>

                <a href="#" class="dropdown-toggle btn btn-primary react-buttons" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Linkedin</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Whatsapp</a></li>
                  <li><a href="#">Google+</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>