<div class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Categories
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
<br>

    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-9 col-md-3 visible-sm visible-md visible-lg collapse sliding-sidebar thumbnail">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Trending Poems
        </h4>
        <div id="group-1" class="list-group collapse out">
         <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span>Talking to my Soul
          </a>
         <% end %>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Recently Added
        </h4>

        <div id="group-2" class="list-group collapse out">
          <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span> Talking to my Soul
          </a>
         <% end %>
        </div>

      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Favorites
        </h4>
        <div id="group-3" class="list-group collapse out">
          <% 10.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">312</span> Talking to my Soul
          </a>
         <% end %>
        </div>
      </div>

      <div>
        <h4 data-toggle="collapse" data-target="#group-4">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Categories
        </h4>
        <div id="group-4" class="list-group collapse in">
          <% 1.times do || %>
          <a class="list-group-item" href="#">
            <span class="badge">31k</span>Love
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">45M</span>Education
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">54k</span>Woman
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">454k</span>Crush
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">97k</span>Imagination
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">33k</span>Imagination
          </a>
          <a class="list-group-item" href="#">
            <span class="badge">45k</span>Other
          </a>
         <% end %>
        </div>
      </div>

    </div>

    <!-- table container -->
    <div class="col-md-9">
   <% 100.times do ||%>
    <div class="col-md-3 col-xs-12 house-box">            
      <div class="thumbnail">
        <div class="caption">
          <h4>Katy Chrisie</h4>
          <p>I am a poet since my childhood, in poetry is where I find peace and the healing power I found there I wanna share it with the world through the my majestic words</p>

          <a href="" class="label label-default" rel="tooltip" title="Click to View my Poems">View <span class="badge">132</span> Poems</a></p>
        </div>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/90/54/b8/9054b80d87e3e88eaf96db08d45664c8--african-portrait-photography-profile-photography.jpg" alt="...">
      </div>
    </div>
  <%end%>
</div>

</div><!-- /.container -->