 <hr>
 <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
 <div style="margin: 10px;">
   
  <%= f.text_area :body, class:"form-control", placeholder:"Write your comment here ..." %>
  <%= f.hidden_field :post_id, {:value => @post.id} %><br>
  <%= f.submit "Comment", class:"pull-right btn btn-primary", style:"margin-bottom: 10px;"%>
 </div>
 <% end %>