<div class='grid col-md-8 col-xs-12'>

<% 100.times do || %>
  <div class='grid--item col-md-4 col-xs-12'>
    <div class='img' style='background-image: url(https://images.unsplash.com/photo-1417436026361-a033044d901f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=faa4e192f33e0d6b7ce0e54f15140e42);'></div>
    <div class='container'>
      <h2 class="text-responsive">Snowy Hills</h2>
      <div class='desc'>Photo by Ales Krivec</div>
    </div>
  </div>

  <% end %>

</div>