  <!-- ads demo -->
  <div class="col-md-12 main-box">
    <!-- <div id="myDIV"> -->
    
    <div class="ad-title">      
      <a href="https://www.goethe.de/ins/rw/en/index.html" target="_blank" style="color: #2f5369;"><strong>Goethe Institut</strong></a> <i style="font-size: 10px;">.Sponsored</i>

      <!-- edit and delete ad buttons -->
      <div class="action pull-right">
      <!--   <button type="button" class="btn btn-primary btn-xs" title="Edit">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button> -->
      </div>
    </div>

    <div class="col-md-12 ad-img text-center">
      <img src="http://www.livinginkigali.com/wp-content/uploads/awpcp/Goethe-Institut-Kigali-3-large.jpg">
    </div>

    <div class="col-md-12 poem-body">
      <h2 class="text-center">Calling for Applicants on Scholarship</h2>
      <p style="text-align: justify;">I've planted a tree in my heart!
        Whenever I feel tired,
        rushing,
        I sit down,
        with my back against the trunk
        I look at the sky
        through the foliage of the tree
        and peace comes back
        to my heart.</p>
      </div>
      <div class="text-center">
        <a href="https://www.goethe.de/ins/rw/en/index.html" class="btn-info btn btn-xs" target="_blank">Learn More</a>
      </div>
      <!-- </div> -->
    </div>
    <!-- end of ad -->