<!-- Modal -->
<div id="FeedbackModal" class="modal fade" role="dialog">
<div class="modal-dialog video-box">
    <!-- Modal content | feedback--> 
    <div class="modal-content">
      <div class="modal-header text-center" style="background-color: #112a3e; color: white;">
        <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
        <h3>Feeback From Transpoesis</h3>
      </div>
      <div class="modal-body">
      <div class="mic-info"> on 11 Nov 2017
                    </div>
        <p>
          I've planted a tree in my heart!
          Whenever I feel tired,
          rushing,
          I sit down,
          with my back against the trunk
          I look at the sky
          through the foliage of the tree
          and peace comes back
          to my heart
        </p>

        <div class="input-group">
          <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
          <span class="input-group-btn" onclick="addComment()">     
            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
          </span>
        </div>

        <div class="panel-heading">
          <span class="badge">24</span>
          <h3 class="panel-title">
            Replies</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">

              <% 10.times do || %>
              <li class="list-group-item">
                <div class="row">
                  <div>
                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Andrea Grieder</a>
                    <div class="mic-info"> on 11 Nov 2017
                    </div>
                  </div>
                  <div class="comment-text">
                    I've planted a tree in my heart!
                    Whenever I feel tired, rushing,
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>