<div container-fuild>
  <%= link_to "New Post", new_post_path, style: "float: right; padding-right:50px;}}"%>
  <% @posts.each do |post| %>
  <h4><%= link_to post.name, post %></h4>
    <p class="post_index">
      <%= post.body.html_safe %>
    </p>

  <% end %>

</div>