// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thead {
  background-color: #337ab7;
  color: white;
}

.table-box {
  height: 600px;
  overflow: auto;
}


.poet-box {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;

}

.poet-image {
  width: 100%;
  height: auto;
  margin: 0px;
  // padding-top: 15px;

}

.poet-profile {
  padding: 15px;
}


@media screen and (max-width: 767px) {

 .user-form-label {
    display: none;
  }
}